/* RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    object-fit: cover;
}
.img-container{
    height: 50px;
    width: 50px;
}

input{
    border: none;
    background-color: inherit;
    border-left: 1px solid #f6f6f6;
}

/* background app*/
.app-background-line{
    background-color: #009688;
    height: 15vh;
}
.app-background{
    background-color: #dadbd4;
    height: 85vh;
}

.profile-section{
    background-color: #eaeaea;
    height: 60px;
}

/* NOTIFICATION-BANNER */
.notification-banner{
    background-color: #8edafc;
    height: 75px;
}
.icon-container{
    background-color: #ffff;
    height: 60px;
    width: 60px;
}
.icon-container > i{
    color: #8edafc;
}
.text-container{
    align-self: center;
}
.text-container > small {
    text-decoration: underline;
    color: gray;
}

/* APP */
.app-container{
    height: calc(100vh - 100px);
    min-width: calc(1400px - 200px);
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    
}


/* SEARCH CONTAINER */
.search-container{
    border: 1px solid #f6f6f6;
    margin: 5px;
    height: 30px;
}
/* CONTACT SECTION */
#contacts{
    
    height: calc(100% - 30px - 75px - 60px - 10px);
    overflow-y: auto;
}
#contacts .img-container{
    width: 65px;
    height: 65px;

}

.card{
    position: relative;
    border-bottom: 1px solid #f6f6f6 ;
}
.last-message-time{
    position: absolute;
    top: 15px;
    right: 15px;
}

/* CHAT SESSION */
.chat-session{
    height: calc(100% - 60px - 50px);
    background-image: url("../img/mine.jpg");
}
/* CHAT INPUT */
.chat-input-container{
    height: 50px;
    align-items: center;
    width: 100%;
    background-color: #f3eeea;
}
.chat-input-container input{
    width: 80%;
    padding: 10px;
    background-color: #ffff;
}
.icon-input-container{
    width: 10%;
}

/* UTILITY */
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.row{
    width: 100%;

}
.col-small{
    width: 35%;
    background-color: #fafafa;
}
.col-bigger{
    width: 65%;
    flex-shrink: 0;
}
.align-center{
    align-items: center;
    justify-content: center;
}
.g-1{
    gap: 5px
}
.g-3{
    gap: 15px
}
.p-1{
    padding: 5px;
}
.p-3{
    padding: 51px;
}
.rounded{
    border-radius: 50%;
    overflow:hidden ;
}
.grow{
    flex-grow: 1;
}


/* ICON UTILITY */
.color-unactive{
    color: #b1b1b1;
}
.column{
    flex-direction: column;
}

/*DEBUG */
.debug-bg1{
background-color: beige;
}
.debug-bg2{
    background-color: green;
    }
